.projects {
    margin: 3vmax 5vmax 4vmax 4vmax;
}

.projects-content h1 {
    color:orangered;
    margin-bottom: 2vmax;
}

.projects-info-desc img {
    width: 30.5vmax;
    height: 20.5vmax;
    border-radius: 0.8vmax;
    cursor: pointer;
    border: 1px solid orange;
}
.projects-info-desc img:hover{
    transform:scale(1.1);
}

.projects-content-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1.5fr));
    gap: 6vmax;
}

.projects-info-desc p {
    font-size: 1.4vmax;
}

.text {
    color:orangered;
    margin: -2.8vmax 0vmax 3vmax 1vmax;
    font-size: bolder;
    font-size: 4vmax;
}

@media(max-width:790px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 2.5fr));
        gap: 8vmax;
    }


    @media(max-width:1050px) {
        .projects-content-info {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1vmax;
        }
    }


}
@media(max-width:680px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 6vmax;
    }
}

@media(max-width:670px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 6vmax;
    }
}
@media(max-width:650px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 8vmax;
    }
}
@media(max-width:620px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 14vmax;
    }
}
@media(max-width:480px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 12vmax;
    }
    .projects-content h1 {
        font-size: 2.6vmax;
    }
}
@media(max-width:435px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1.5fr));
        gap: 16vmax;
    }
}
@media(max-width:375px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1.5fr));
        gap: 15vmax;
    }
}
@media(max-width:374px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap:10vmax;
    }
}

@media(max-width:360px) {
    .projects-content-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1.5fr));
        gap: 3vmax;
    }
}