.about{
    margin: 4vmax 4vmax 7vmax 3vmax;
}
.about-heading{
    color:rgba(47, 141, 255, 0.692);

}
.about-info-mean{
    margin:1vmax 4vmax 0vmax 0vmax;
    font-size: 1.2vmax;

}
.about-info-text h2{
    margin: 2vmax 4vmax 0vmax 0vmax;
    color: rgba(47, 141, 255, 0.692);
}
.about-info-text-2{
    margin: 2vmax 4vmax 0vmax 0vmax;
    color: rgba(47, 141, 255, 0.692);

}
.about-ul li{
    list-style: none;
    font-size: 1.2vmax;
}
.about-value{
    margin-bottom:1vmax;
}
.about-info-text-2 ul li{
    color:black;
    list-style: none;
    font-size: 1.2vmax;
}
.about-ul{
    margin:2vmax 4vmax 0vmax 0vmax;
}
.about-ul span{
    margin-left: 6vmax;
}
.about-sp{
    margin-left: -4vmax;
}
.h-text h2{
    color:black;
    margin: 1vmax 0vmax 1vmax 0vmax;
    font-size: 1.4vmax;
}
@media(max-width:480px){
    .about-heading{
        font-size: 1.4vmax;
    }
    .about-info-text{
        font-size: 1.4vmax;
    }
    .about-info-text-2 h2{
        font-size: 2.2vmax;
    }

    }


