.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:antiquewhite;
    color:black;
    height: 10vh;
    margin-bottom: 1.5vmax;
}
.navbar-image{
    align-items: start;
    margin:  1vmax 50vmax 0vmax 0vmax;
}
.navbar-image img{
    margin-top: 10px;
    width: 4vmax;
    height: 4vmax;
    border-radius: 50%;
}
.navbar-image p{
    font-size: 1vmax;
}
.navbar-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmax;
    text-decoration: none;
    list-style: none;
    margin-top: 1vmax;
}
.navbar-list ul a{
    text-decoration: none;
    color: inherit;
}
.active{
    padding-bottom: 2px;
    border-bottom: 1px solid blue;
    
}
.anchor-link{
    text-decoration: none;
    color:white;
}
