.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:antiquewhite;
    color:black;
    height: 17vh;
    font-size: 1.3vmax;
    font-weight: 500;
    margin-bottom: 1.5vmax;
    
}
.navbar-image{
    align-items: start;
    margin:  1vmax 35vmax 0vmax 0vmax;
}
.navbar-pics{
    display: flex;
    display: none;
}
.navbar-pic1{
    width: 1.7vmax;
    margin-top: 2vmax;
    
}

.navbar-pic2{
    width: 1.7vmax;
    margin-top: 2vmax;
    display: none;
}
.navbar-image img{
    margin-top: 1vmax;
    width: 4vmax;
    height: 4vmax;
    border-radius: 50%;
}
.navbar-image img:hover{
    transform: scale(1.3);
}
.navbar-image p{
    font-size: 1vmax;
}
.navbar-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmax;
    text-decoration: none;
    list-style: none;
    margin-top: 1vmax;
}

.active{
    background-color:orange;
    border-radius: 40%;
    transition:0.3s;
    
}

@media(max-width:790px){
    .navbar-image{
        margin:  1vmax 30vmax 0vmax 4vmax;
    }
    

}
@media(max-width:735px){
    .navbar-image{
        margin:  1vmax 28vmax 0vmax 4vmax;
    }

}

@media  (max-width:650px){
    .navbar-pics{
        display: block;
        margin-left: 20px;
        margin-right: 40px;
        height: 5vh;
        width:6vh ;
    }
    .navbar-list-info {
        position: fixed;
        flex-direction: column;
        align-items:start;
        top: -10px;
        right: -250px;
        gap: 20px;
        background-color:black;
        width: 250px;
        height:100%;
        z-index: 1;
        transition: right  0.5s;
        color:white;
        border-radius: 1%;
    }
    .navbar-pic2{
        display:block;
        margin-right: -100px;
        margin-top: -710px;
    }
    .navbar-image img{
       height:5vmax ;
       width: 5vmax;
    } 
    .navbar-image p{
        font-size: 1.3vmax;
    }
    .navbar-image{
        margin:  1vmax 110vmax 0vmax 3vmax;
    }
    .navbar-pics{
        margin-bottom: 1.8vmax;
        margin-left:34vmax;
    }
}
@media(max-width:695px){
    .navbar-image{
        margin:  1vmax 25vmax 0vmax 3vmax;
    }
}
@media(max-width:655px){
    .navbar-image{
        margin:  1vmax 20vmax 0vmax 3vmax;
    }
}
@media(max-width:450px){
    .navbar-image{
        margin:  1vmax 40vmax 0vmax 3vmax;
    }
}
