.footer {
    width: 110%;
    margin: 0vmax;
    background-color: black;
    color: white;
    height: 15vmax;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vmax;
    margin-bottom: 0.4vmax;
    gap: 2.1vmax;
    cursor: pointer;
}

.footer-content .fb:hover {
    transform: scale(1.2);
}

.footer-content .twitter:hover {
    transform: scale(1.2);
}

.footer-content .insta:hover {
    transform: scale(1.2);
}

.footer-content .linked:hover {
    transform: scale(1.2);
}

.footer hr {
    width: 17vmax;
    background-color: black;
    margin: auto;
}

.footer-foot-content {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2vmax;
    margin-top: 1vmax;
}

.footer-foot-content .para {
    margin-left: 2vmax;
    margin-top: 0.5vmax;
}

.heart {
    color: red;
}

@media(max-width:470px) {
    .footer {
        width: 160%;
    }
}
@media(max-width:320px) {
    .footer {
        width: 170%;
    }
}