
.footer{
    margin: 4vmax 0vmax 5vmax 0vmax;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.1vmax;
    margin-bottom:1vmax;
}
.footer hr{
    width:17vmax;
    background-color: black;
    margin:auto;
}
.footer-foot-content{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size:1.2vmax;
    margin-top: 1vmax;
}
.footer-foot-content .para{
    margin-left: 2vmax;
    margin-top: 0.5vmax;
}
.heart{
    color:red;
}
